{% assign films = site.data.competition | where: "year", page.year | sort: "position" %}
<div style="overflow-x:auto;" class="table-responsive">
<table class="table table-condensed">
{% tablerow film in films cols:4 %}
    <a href="http://youtube.com/watch?v={{ film.youtube }}" target="_blank">
        <img 
            src="http://img.youtube.com/vi/{{ film.youtube }}/3.jpg"
            alt="{{ film.title }}"
            title="{{ film.title }} by {{ film.firstname }} {{ film.secondname }}"/>
        <div>{{ film.title }}</div>
        {% if film.position != 'n' %}
            <div>Position: {{ film.position }}</div>
        {% endif %}
        <div>Category: {{ film.category }}</div>
      </a>
{% endtablerow %}
</table>
</div>


